
#header {
  display: flex;
  flex-direction: row;
  background: beige;
  flex-wrap: wrap;
}

.picture img {
  width:  60vw;
  border-radius: 0px 100px 100px 0px;
}

.textspace {
  /* vertical-align: center; */
}

#list {
  vertical-align: center;
}

.high-li {
  font-size: 160%;
}

#big-job {
  font-size: 110%;
  margin-left: -9%;
  line-height: 0px;
}

li {
  font-size: 100%;
}

#pic-category-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pic-category1 {
  background: pink;
  width: 33vw;
  height: 4vh;
  text-align: center;
}

#pic-category2 {
  background: silver;
  width: 33vw;
  height: 4vh;
  text-align: center;
}

#pic-category3 {
  background: #6ad670;
  width: 33vw;
  height: 4vh;
  text-align: center;
}

