

.picture {
  background-color: green;
}

.picture img {
  border-radius: 0px 100px 100px 0px;
}

.high-li {
  font-size: 160%;
  font: bold;
}

#big-job {
  font-size: 130%;
  font: bold;
  margin-left: -2%;
  line-height: 0px;
}

li {
  font-size: 100%`;
}

.test {
  background: blue
}